.page-layout {
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .page-layout {
        flex-direction: column;
        gap: 25px;
    }
}